@model IEnumerable<Merwer.Chronicle.Dungeoneering.Tracker.Models.Draft>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Model.All(draft => draft.Complete))
    {
        @Html.ActionLink("Start New Run", "Create")
    }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches)
            </th>
            <th>
                Rewards
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Id.ToString(), "Edit")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archetype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matches.Count)
                </td>
                <td>
                    <div class="alert alert-info">TODO: Rewards</div>
                </td>
            </tr>
        }
    </tbody>
</table>
