@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model IEnumerable<Draft>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    @Scripts.Render("/Content/js/draftIndex.js")
}

<h2>Index</h2>

<p>
    @if (Model.All(draft => draft.Complete))
    {
        @Html.ActionLink("Start New Run", "Create")
    }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Archetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches)
            </th>
            <th>
                Rewards
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Archetype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matches.Count)
                </td>
                <td>
                    <ul class="rewards-container">
                        <li class="reward-copper">@item.Matches.Select(m => m.Rewards).AsQueryable().Sum(m => m.Copper)</li>
                        <li class="reward-shards">@item.Matches.Select(m => m.Rewards).AsQueryable().Sum(m => m.Shards)</li>
                        <li class="reward-packs">@item.Matches.Select(m => m.Rewards).AsQueryable().Sum(m => m.Packs)</li>
                    </ul>
                </td>
                <td>
                    <a href="@Url.Action("Drafting", new { id = item.Id })" class="btn btn-default fa fa-pencil" role="button" title="Edit" alt="Edit"></a>
                    <button class="btn btn-default fa fa-trash" role="button" title="Delete Deck" alt="Delete Deck" data-toggle="modal" data-target="#confirm-delete" data-draftid="@item.Id"></button>
                    @if (item.DraftComplete)
                    {
                    <button class="btn btn-default fa fa-plus" role="button" title="Add Match" alt="Add Match" data-toggle="modal" data-target="#add-match" data-draftid="@item.Id"></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    Html.RenderPartial("Modals/Delete");
    Html.RenderPartial("Modals/AddMatch", new Match());
}
