@using Merwer.Chronicle.Dungeoneering.Tracker.Helpers;
@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model Draft

@{
    ViewBag.Title = "Details";
}

@section styles {
    @Styles.Render("/Content/css/typeahead.css",
    "/Content/css/main.css",
    "/Content/css/draft.css",
    "/Content/css/offcanvas.css")
}

@section scripts {
    @Scripts.Render("/Content/js/vendor/bootstrap.min.js",
    "/Content/js/vendor/typeahead.bundle.js",
    "/Content/js/vendor/i18next.min.js",
    "/Content/js/vendor/i18nextXHRBackend.min.js",
    "/Content/js/vendor/jquery-i18next.min.js,")

    @Scripts.Render("/Content/js/main.js",
    "/Content/js/chronicle-base.js",
    "/Content/js/cardList.js",
    "/Content/js/deck.js",
    "/Content/js/draft.js",
    "/Content/js/offcanvas.js")
    <script>
        (function () {
            var state = @Html.Raw(Html.ToJson(Model));
            chronicle.dungeoneering.draft.setState(state);
        }());
    </script>
}

<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-8">
        <div class="row">
            <div class="col-xs-8 col-sm-7">
            </div>
            <div class="col-xs-4 col-sm-5">
                <label data-i18n="round-name" class="control-label">Round</label>
            </div>
        </div>
        <div class="row form-inline">
            <div class="col-xs-8 col-sm-7">
            </div>
            <div class="col-xs-4 col-sm-5">
                <div class="round-counter">
                    <button class="btn fa fa-chevron-left prev hidden-xs"></button>
                    <select class="form-control current">
                        @for (var i = 1; i <= 15; i++)
                        {
                            <option value="@i">@i/15</option>
                        }
                    </select>
                    <button class="btn fa fa-chevron-right next hidden-xs"></button>
                </div>
            </div>
        </div>
        <div class="card-choices row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div id="card-choice-1" class="card-choice shift-down rotate-counterclockwise empty">
                            <img src="~/Content/img/card_back.png">
                            <p class="card-score"></p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div id="card-choice-2" class="card-choice empty">
                            <img src="~/Content/img/card_back.png">
                            <p class="card-score"></p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div id="card-choice-3" class="card-choice shift-down rotate-clockwise empty">
                            <img src="~/Content/img/card_back.png">
                            <p class="card-score"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-2">
                        <div id="card-choice-4" class="card-choice rotate-counterclockwise empty">
                            <img src="~/Content/img/card_back.png">
                            <p class="card-score"></p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-xs-offset-1">
                        <div id="card-choice-5" class="card-choice rotate-clockwise empty">
                            <img src="~/Content/img/card_back.png">
                            <p class="card-score"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-md-push-1 sidebar-offcanvas col-no-gutters">
        <p class="visible-xs sidebar-toggle-button">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                <i class="fa fa-info"></i>
            </button>
        </p>
        <div class="row no-gutters">
            <div class="col-xs-12">
                <div class="rewards-container">
                    <p class="total-rewards" data-i18n="total-rewards">Total Rewards</p>
                    <ol class="rewards">
                        <li class="icon weapon">0</li>
                        <li class="icon attack">0</li>
                        <li class="icon gold">0</li>
                        <li class="icon health">0</li>
                        <li class="icon armour">0</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xs-12">
                <div class="previous-selections">
                    <ol class="card-selections support-selections">
                        <div class="heading">
                            <span class="name" data-i18n="support">Support</span>
                            <span class="count">0</span>
                        </div>
                    </ol>
                    <ol class="card-selections fight-selections">
                        <div class="heading">
                            <span class="name" data-i18n="fight">Fight</span>
                            <span class="count">0</span>
                        </div>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>