@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model ArchetypeMatchList

@if (Model == null)
{
    <tr>
        <th>
            <div class="small">Oppponent</div>
            <hr class="corner-divider" />
            <div class="small">Player</div>
        </th>
        <th>@Html.Partial("_LegendIcon", Archetype.TheRaptor)</th>
        <th>@Html.Partial("_LegendIcon", Archetype.Linza)</th>
        <th>@Html.Partial("_LegendIcon", Archetype.Ariane)</th>
        <th>@Html.Partial("_LegendIcon", Archetype.Ozan)</th>
        <th>@Html.Partial("_LegendIcon", Archetype.Vanescula)</th>
        <th>@Html.Partial("_LegendIcon", Archetype.Morvran)</th>
    </tr>
}
else
{
    <tr>
        <td>@Html.Partial("_LegendIcon", Model.Legend)</td>
        <td>@Html.DisplayFor(m => m.VersusRaptor)</td>
        <td>@Html.DisplayFor(m => m.VersusLinza)</td>
        <td>@Html.DisplayFor(m => m.VersusAriane)</td>
        <td>@Html.DisplayFor(m => m.VersusOzan)</td>
        <td>@Html.DisplayFor(m => m.VersusVanescula)</td>
        <td>@Html.DisplayFor(m => m.VersusMorvran)</td>
    </tr>
}
