@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model MyStatsData

<div class="row">
    <div class="col-xs-3 col-xs-push-2">
        <h4 class="text-center">Total Rewards</h4>
        @Html.DisplayFor(m => m.TotalRewards)
    </div>

    <div class="col-xs-3 col-xs-push-3">
        <h4 class="text-center">Average Rewards</h4>
        @Html.DisplayFor(m => m.AverageRewards)
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            @Html.Partial("DisplayTemplates/BasicStatsData", (LegendSpecificStatsData)null, new ViewDataDictionary())
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.RaptorStats)
            @Html.DisplayFor(m => m.ArianeStats)
            @Html.DisplayFor(m => m.LinzaStats)
            @Html.DisplayFor(m => m.OzanStats)
            @Html.DisplayFor(m => m.VanesculaStats)
        </tbody>
        <tfoot>
            @Html.Partial("DisplayTemplates/BasicStatsData", Model, new ViewDataDictionary())
        </tfoot>
    </table>
</div>
