@using Merwer.Chronicle.Dungeoneering.Tracker.Models
@model GlobalStatsData
@{
    ViewBag.Title = "Global Stats";
}

<h3>Display stats for</h3>
<form>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                @Html.EditorFor(m => m.StartDate, null)
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                @Html.EditorFor(m => m.EndDate)
            </div>
        </div>
        <div class="col-xs-12">
            <input type="submit" value="Get Stats" />
        </div>
    </div>
</form>

<h3 class="text-center">Data collected from <strong>@Model.Players</strong> players</h3>
<div class="row">
    <div class="col-xs-12">
        @Html.DisplayForModel("MyStatsData")
    </div>
</div>

<h3 class="text-center">Most common legends</h3>
<div class="row">
    <div class="col-xs-12">
        @Html.DisplayFor(m => m.LegendSelections)
    </div>
</div>

<h3 class="text-center">Most common cards by class</h3>
<div class="row">
    <div class="col-xs-12">
        @Html.DisplayFor(m => m.CardSelections)
    </div>
</div>